<mat-toolbar color="primary" *ngIf="isLogged()">
  <mat-toolbar-row>
    <!-- <a [routerLink]="'/'"><img src="/assets/images/timetix_logo.png" style="height: 30px;" /></a> -->
    <button mat-button (click)="toHome()">
      <mat-icon>home</mat-icon>
    </button>
    <span class="menu-spacer"></span>

    <div class="ui-toolbar-group-right">
      <button mat-button [matMenuTriggerFor]="menu">Bienvenido/a {{logged?.Name}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="widthAuto" routerLink="/cambio-contrasena">
          <mat-icon mat-list-icon>vpn_key</mat-icon>
          Cambiar contraseña
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          Cerrar sesión
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="align-center">
  <div class="cell medium-10">
    <div style="background-color: white;">
      <div class="main">
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>