
backend/.settings/org.eclipse.core.resources.prefs
backend/.settings/org.eclipse.jdt.core.prefs
backend/.settings/org.eclipse.jdt.core.prefs
backend/.settings/org.eclipse.jdt.core.prefs
backend/.settings/org.eclipse.jdt.core.prefs
backend/.idea
