h1,
h2,
h3 {
  font-family: 'Kaushan Script', cursive;
  color: white;
}

.main-div {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.ui-corner-all {
  border-radius: 25px;
  opacity: 1;
}

.ui-button {
  color: black;
  border: 0px;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button {
  color: white;
}

.input100::placeholder {
  color: #60b0f7;
}

.p-t-50 {
  padding-top: 50px;
}
