<p-table [value]="jugadores" [rows]="10" [paginator]="true" [responsive]="true" sortField="nivel" [sortOrder]="-1"
  [resizableColumns]="true" [columns]="cols" [reorderableColumns]="true" class="alinearCentro">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols" pReorderableColumn pResizableColumn pSortableColumn="{{col.field}}">
        {{col.header}}
        <p-sortIcon field="{{col.field}}"></p-sortIcon>
      </th>
      <th>
        Acciones
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-jugador>
    <tr class="ajustarTexto">
      <td *ngFor="let col of cols">
        <img *ngIf="col.header == 'Nombre'" width="60" height="60"
          src="https://futhead.cursecdn.com/static/img/21/players/{{jugador.id}}.png" (error)="changeSource($event)" />
        <img *ngIf="col.header == 'Nacionalidad'" width="40" height="32"
          src="https://www.banderas-mundo.es/data/flags/w1600/{{jugador.nacionalidadCorta}}.png"/>
        <div *ngIf="col.header != 'Nacionalidad' && col.header != 'Nivel' && col.header != 'Potencial'"> {{jugador[col.field]}} </div>
        <span *ngIf="col.header == 'Nivel'" class='tag p-{{jugador.nivel}} p'>{{jugador[col.field]}}</span>
        <span *ngIf="col.header == 'Potencial'" class='tag p-{{jugador.potencial}} p'>{{jugador[col.field]}}</span>
      </td>
      <td>
          <button title="Comprar" pButton type="button" icon="fas fa-dollar-sign" class="ui-button-success"></button>
          <button title="Ofertar" pButton type="button" icon="fas fa-comment-dollar" class="ui-button-warning"></button>
          <button title="Vender A La Maquina" pButton type="button" icon="fas fa-minus-circle" class="ui-button-danger"></button>
          <button title="Poner En Venta" pButton type="button" icon="fas fa-tag" class="ui-button-info"></button>
      </td>

    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-cols>
    <tr>
      <td [attr.colspan]="cols.length + 1">
        No se encontraron resultados
      </td>
    </tr>
  </ng-template>
</p-table>
